body {
    background-color: #F4EBD0;
    margin: 12px;
}
h1 {
    color: #2F6F6F;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #5A8F5A; 
}

section:last-of-type h2 {
    color: #7FB069;
}

p {
    color: #333333;
    font-family: Cambria, serif;
}

ul {
    color: #333333;     
}

a {
    color: #E94F37; 
} 

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    width: 350px;
    max-width: 100%;
    border-radius: 8px
}

figcaption {
    color: #333333;
    font-family: Cambria, serif;
    margin-top: 8px;
}
